*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1, h2{
      text-align: center;
      color:rgb(6, 6, 32);
  }
  body{
      border:7px solid rgb(6, 6, 32);
  }
  .Profilepic{
    margin: auto;
    max-width: 300px;
    border-radius: 80%;
    align-content: right;
    align-items: right;
    justify-items: right;
    justify-content: right;
  }
  button{
    margin: auto;
    padding: auto;
    width: 25;
    position: relative;
    display:flex;
    block-height:100px;
    block-width:100px;
    background-color: rgb(6, 6, 32);
  }
  div .links{
  display: flexbox;
  flex-direction: row;
  text-decoration:none;
  }
  
  button .img{
    max-width: 50px;
    border: 5px;
  }
  
  .Profile{
   display: flex;
   background:rgb(127, 196, 219);
   flex-direction: column;
  
  }
  label{
    background: rgb(6, 6, 32);
    color: white;
    block-size: 22px;
    width: 100%;
  }
  table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
  th{
    background: darkcyan;
  }
  a{
      font-size: 20px;
      color:white;

  }
  a:hover{
      color:aqua;
  }
